.rocktxt,.paptxt,.scistxt{
  visibility: hidden;
}

.txt{
  font-family: cursive;
  font-weight: 900;
  font-size: 20px;
}

.container{
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  /* align-content: space-between; */
}
.imgcontainer{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-wrap: nowrap; */
}

img{
  width: 150px;
  height: auto;
  transition: 0.1s;
}
.rock:hover{
  filter: drop-shadow(7px 7px 7px #2bedff);
  transition: 0.1s;
  width: 152px;
}

.paper:hover{
  filter: drop-shadow(7px 7px 7px #fffb23);
  transition: 0.1s;
  width: 152px;
}
.scissor:hover{
  filter: drop-shadow(7px 7px 7px #da46fb);
  transition: 0.1s;
  width:  152px;
}

body{
  background-color: rgb(231, 255, 217);
}